.u-section-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-1 .u-image-1 {
  width: 338px;
  height: 338px;
  background-image: url("images/87e89cf2-bf9e-cef1-27ba-e70d74d949a8.png");
  background-position: 98.34% 50%;
  margin: 88px 43px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: -338px 379px 0 24px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 43px 357px 0 24px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 26px auto 60px 24px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: 26px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 186px;
    margin-left: 17px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 164px;
    margin-left: 17px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-right: 2px;
  }
}